alembic==1.13.2
fastapi==0.111.0
httpx==0.27.0
psycopg2-binary==2.9.9
pydantic==2.7.4
pydantic-settings==2.3.4
pytest==8.2.2
sqlalchemy==2.0.31
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
transformers==4.42.3
uvicorn[standard]==0.30.1
